.form-basic {
  h3 {
    margin: 20px 0 10px;

    button {
      margin-left: 50px;
    }
  }

  h4, h5 {
    margin-top: 10px;

    button {
      margin-left: 50px;
    }
  }

  input {
    width: 200px;
    height: 32px;
    padding: 0 4px;
  }

  .form-item {
    display: flex;
    margin-top: 16px;

    > span {
      display: inline-block;
      width: 120px;
    }
  }

  .has-error {
    color: red;
  }

  button {
    margin-top: 32px;
    padding: 0 8px;
    line-height: 20px;
    font-size: 12px;
  }
}
