<div [formGroup]="addressFormGroup" class="form-basic">
  <h4>地址</h4>
  <label class="form-item">
    <span>省</span>
    <input type="text" placeholder="省" formControlName="province">
  </label>
  <label class="form-item">
    <span>市</span>
    <input type="text" placeholder="市" formControlName="city">
  </label>
  <label class="form-item">
    <span>区</span>
    <input type="text" placeholder="区" formControlName="district">
  </label>
  <label class="form-item">
    <span>详细地址</span>
    <input type="text" placeholder="详细地址" formControlName="description">
  </label>
</div>
