<div class="form-basic">
  <h2>响应式表单组的创建</h2>

  <h3>单个学生信息的添加</h3>
  <form [formGroup]="studentForm" (ngSubmit)="onSubmitStudentInfo()">
    <label class="form-item">
      <span>姓名</span>
      <input type="text" placeholder="姓名" formControlName="name">
    </label>
    <label class="form-item">
      <span>年龄</span>
      <input type="number" placeholder="年龄" formControlName="age">
    </label>

    <!--  嵌套表单  -->
<!--    <div formGroupName="grads">-->
<!--      <h4>成绩</h4>-->
<!--      <label class="form-item">-->
<!--        <span>语文</span>-->
<!--        <input type="number" placeholder="语文" formControlName="chinese">-->
<!--      </label>-->
<!--      <label class="form-item">-->
<!--        <span>数学</span>-->
<!--        <input type="number" placeholder="数学" formControlName="math">-->
<!--      </label>-->
<!--      <label class="form-item">-->
<!--        <span>英语</span>-->
<!--        <input type="number" placeholder="英语" formControlName="english">-->
<!--      </label>-->
<!--    </div>-->

    <button type="submit">提交</button>

<!--    <button type="submit" (click)="onSubmit()">提交</button>-->
  </form>
</div>
